In [227]:
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [228]:
df = pd.read_csv('houses.csv')

In [229]:
df.head(2)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322

In [230]:
df.drop(columns=['link','property_id'],inplace=True)

In [231]:
df.insert(loc=1,column='property_type',value='house')

In [232]:
df.head(2)

,property_name,property_type,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [233]:
df['society'] = df['society'].str.lower()

In [234]:
df['society'].value_counts().shape

(184,)

In [235]:
import re
df['society'] = df['society'].apply(
    lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()
).str.lower()

In [236]:
df['society'].value_counts().shape

(183,)

In [237]:
df.head()

,property_name,property_type,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,nan,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,nan,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,nan,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [238]:
df = df[df['price'] != 'Price on Request']

In [239]:
def treat_price(x):
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100, 2)
        else:
            return round(float(x[0]), 2)
        


# def treat_price(x):
#     if isinstance(x, float) or isinstance(x, int):
#         return round(x, 2)
#     elif isinstance(x, (list, tuple)) and len(x) == 2:
#         amount, unit = x
#         try:
#             amount = float(amount)
#             if unit.lower() == 'lac':
#                 return round(amount / 100, 2)  # Convert Lac to Crores
#             elif unit.lower() == 'crore':
#                 return round(amount, 2)
#             else:
#                 raise ValueError(f"Unknown unit: {unit}")
#         except ValueError:
#             return None  # or handle error as needed
#     else:
#         return None  # or handle unexpected format

In [240]:
df['price'] = df['price'].str.split(' ').apply(treat_price)

In [241]:
df.rename(columns={'rate': 'price_per_sqft'}, inplace=True)
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.70,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [242]:
df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.replace(',', '').str.replace('₹', '').astype(float)

In [243]:
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [244]:
df['area'] = ((df['price']*10000000)/df['price_per_sqft']).round()

In [245]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,nan,2.10,38251.0,549.0,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,nan,5.00,43066.0,1161.0,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,nan,3.00,53763.0,558.0,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [246]:
df['bedRoom'].value_counts()

bedRoom
4 Bedrooms     239
5 Bedrooms     195
3 Bedrooms     148
2 Bedrooms      88
6 Bedrooms      82
9 Bedrooms      45
1 Bedroom       38
8 Bedrooms      34
7 Bedrooms      31
12 Bedrooms     29
10 Bedrooms     21
16 Bedrooms     12
13 Bedrooms      4
11 Bedrooms      2
19 Bedrooms      2
18 Bedrooms      2
21 Bedrooms      1
20 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: count, dtype: int64

In [247]:
df = df[~df['bedRoom'].isnull()]

In [248]:
df['bedRoom'].isnull().sum()

np.int64(0)

In [249]:
df['bedRoom'] = df['bedRoom'].str.split(' ').str.get(0).astype(int)

In [250]:
df['bathroom'].value_counts()

bathroom
4 Bathrooms     233
3 Bathrooms     166
5 Bathrooms     139
2 Bathrooms     114
6 Bathrooms      85
1 Bathroom       65
9 Bathrooms      42
7 Bathrooms      39
8 Bathrooms      29
12 Bathrooms     23
10 Bathrooms     11
16 Bathrooms      8
13 Bathrooms      4
18 Bathrooms      4
11 Bathrooms      4
17 Bathrooms      3
20 Bathrooms      3
14 Bathrooms      2
21 Bathrooms      1
34 Bathrooms      1
36 Bathrooms      1
Name: count, dtype: int64

In [251]:
df['bathroom'].isnull().sum()

np.int64(0)

In [252]:
df['bathroom'] = df['bathroom'].str.split(' ').str.get(0).astype(int)

In [253]:
df['balcony'].value_counts()

balcony
3+ Balconies    373
2 Balconies     223
3 Balconies     161
No Balcony      115
1 Balcony       105
Name: count, dtype: int64

In [254]:
df['balcony'] = df['balcony'].str.replace('No balcony', '0').str.split(' ').str.get(0)

In [255]:
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [256]:
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     82
Pooja Room,Study Room,Servant Room,Store Room    63
Others                                           59
Pooja Room                                       38
Pooja Room,Study Room,Servant Room               34
Pooja Room,Study Room,Servant Room,Others        32
Store Room                                       31
Pooja Room,Servant Room                          24
Study Room                                       19
Study Room,Servant Room                          19
Servant Room,Store Room                          15
Pooja Room,Study Room                            11
Pooja Room,Others                                11
Pooja Room,Store Room                            11
Pooja Room,Store Room,Study Room,Servant Room     9
Servant Room,Others                               8
Servant Room,Pooja Room                           8
Servant Room,Pooja Room,Store Room                7
Pooja Room,Servant Room,Store Room                7
Study Room,Servant Room,Pooja Room,Store Room     7
Store Room,Servant Room                           6
Study Room,Pooja Room,Servant Room                5
Pooja Room,Servant Room,Others                    5
Servant Room,Store Room,Pooja Room                5
Servant Room,Study Room                           5
Servant Room,Study Room,Pooja Room,Store Room     5
Study Room,Servant Room,Store Room                4
Pooja Room,Servant Room,Study Room,Store Room     4
Store Room,Pooja Room                             4
Study Room,Servant Room,Store Room,Pooja Room     4
Pooja Room,Study Room,Others                      4
Pooja Room,Study Room,Store Room                  3
Study Room,Others                                 3
Study Room,Servant Room,Pooja Room                3
Study Room,Pooja Room,Servant Room,Store Room     3
Store Room,Pooja Room,Servant Room                2
Servant Room,Study Room,Store Room,Pooja Room     2
Study Room,Pooja Room,Store Room                  2
Store Room,Pooja Room,Study Room                  2
Servant Room,Study Room,Pooja Room                2
Pooja Room,Study Room,Store Room,Servant Room     2
Study Room,Pooja Room                             2
Study Room,Servant Room,Others                    2
Store Room,Pooja Room,Study Room,Servant Room     2
Study Room,Pooja Room,Store Room,Servant Room     2
Study Room,Store Room                             1
Study Room,Store Room,Pooja Room                  1
Store Room,Pooja Room,Servant Room,Study Room     1
Servant Room,Store Room,Study Room,Pooja Room     1
Store Room,Servant Room,Study Room,Pooja Room     1
Pooja Room,Store Room,Servant Room                1
Servant Room,Others,Pooja Room                    1
Study Room,Store Room,Servant Room,Pooja Room     1
Store Room,Study Room,Servant Room                1
Store Room,Servant Room,Pooja Room                1
Study Room,Others,Servant Room                    1
Name: count, dtype: int64

In [257]:
df['additionalRoom'].isnull().sum()

np.int64(388)

In [258]:
df['additionalRoom'] = df['additionalRoom'].fillna('NA')

In [259]:
df['additionalRoom'].value_counts()

additionalRoom
NA                                               388
Servant Room                                      82
Pooja Room,Study Room,Servant Room,Store Room     63
Others                                            59
Pooja Room                                        38
Pooja Room,Study Room,Servant Room                34
Pooja Room,Study Room,Servant Room,Others         32
Store Room                                        31
Pooja Room,Servant Room                           24
Study Room                                        19
Study Room,Servant Room                           19
Servant Room,Store Room                           15
Pooja Room,Study Room                             11
Pooja Room,Others                                 11
Pooja Room,Store Room                             11
Pooja Room,Store Room,Study Room,Servant Room      9
Servant Room,Others                                8
Servant Room,Pooja Room                            8
Pooja Room,Servant Room,Store Room                 7
Servant Room,Pooja Room,Store Room                 7
Study Room,Servant Room,Pooja Room,Store Room      7
Store Room,Servant Room                            6
Servant Room,Store Room,Pooja Room                 5
Pooja Room,Servant Room,Others                     5
Study Room,Pooja Room,Servant Room                 5
Servant Room,Study Room                            5
Servant Room,Study Room,Pooja Room,Store Room      5
Study Room,Servant Room,Store Room                 4
Pooja Room,Servant Room,Study Room,Store Room      4
Store Room,Pooja Room                              4
Study Room,Servant Room,Store Room,Pooja Room      4
Pooja Room,Study Room,Others                       4
Pooja Room,Study Room,Store Room                   3
Study Room,Others                                  3
Study Room,Servant Room,Pooja Room                 3
Study Room,Pooja Room,Servant Room,Store Room      3
Store Room,Pooja Room,Servant Room                 2
Servant Room,Study Room,Store Room,Pooja Room      2
Study Room,Pooja Room,Store Room                   2
Store Room,Pooja Room,Study Room                   2
Servant Room,Study Room,Pooja Room                 2
Pooja Room,Study Room,Store Room,Servant Room      2
Study Room,Pooja Room                              2
Study Room,Servant Room,Others                     2
Store Room,Pooja Room,Study Room,Servant Room      2
Study Room,Pooja Room,Store Room,Servant Room      2
Study Room,Store Room                              1
Study Room,Store Room,Pooja Room                   1
Store Room,Pooja Room,Servant Room,Study Room      1
Servant Room,Store Room,Study Room,Pooja Room      1
Store Room,Servant Room,Study Room,Pooja Room      1
Pooja Room,Store Room,Servant Room                 1
Servant Room,Others,Pooja Room                     1
Study Room,Store Room,Servant Room,Pooja Room      1
Store Room,Study Room,Servant Room                 1
Store Room,Servant Room,Pooja Room                 1
Study Room,Others,Servant Room                     1
Name: count, dtype: int64

In [260]:
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [261]:
df.rename(columns={'noOfFloor': 'floorNum'}, inplace=True)

In [262]:
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,nan,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [263]:
df['floorNum'].value_counts()

floorNum
3 Floors     309
2 Floors     294
1 Floors     181
4 Floors     137
5 Floors       9
0 Floors       6
14 Floors      3
6 Floors       3
10 Floors      2
11 Floors      2
12 Floors      2
21 Floors      1
13 Floors      1
27 Floors      1
02 Floors      1
20 Floors      1
41 Floors      1
51 Floors      1
16 Floors      1
33 Floors      1
Name: count, dtype: int64

In [264]:
df['floorNum'].isnull().sum()

np.int64(20)

In [265]:
df['floorNum'] = df['floorNum'].str.split(' ').str.get(0).astype(float)

In [266]:
df['floorNum']

0        3.0
1        2.0
2        5.0
3        5.0
4        5.0
5        4.0
6        3.0
7        4.0
8        3.0
9        4.0
10       2.0
11       3.0
12       4.0
13       3.0
14       3.0
15       3.0
16       3.0
17       3.0
18       3.0
19       3.0
20       3.0
21       3.0
22       2.0
23       NaN
24       4.0
25       3.0
26       1.0
27       3.0
28       3.0
29       3.0
30       2.0
31       3.0
32       3.0
33       1.0
34       2.0
35       3.0
36       4.0
37       1.0
38       3.0
39       3.0
40       2.0
41       1.0
42       4.0
43       4.0
44       4.0
45       4.0
46       2.0
47       3.0
48       3.0
49       2.0
50       2.0
51       NaN
52       3.0
53       2.0
54       3.0
55       2.0
56       2.0
57       2.0
58       3.0
59       3.0
60       3.0
61       3.0
64       1.0
65       3.0
79       4.0
80       2.0
90       2.0
91       2.0
101      3.0
106      2.0
107      1.0
108      3.0
109      2.0
112      2.0
113      1.0
114      3.0
116      3.0
117      1.0
118      4.0
119      2.0
120      1.0
121      1.0
122      3.0
123      2.0
124      2.0
125      2.0
126      3.0
127      2.0
128      3.0
129      3.0
130      2.0
131      3.0
132      2.0
133      2.0
134      3.0
135      2.0
136      2.0
137      2.0
138      2.0
139      3.0
140      2.0
141      2.0
142      2.0
143      1.0
144      2.0
145      1.0
146      2.0
147      1.0
148      2.0
149      2.0
150      2.0
151      2.0
152      3.0
153      4.0
154      4.0
155      2.0
156      4.0
157      1.0
158      2.0
159      2.0
160      2.0
161      4.0
162      4.0
163      3.0
164      4.0
165      3.0
166      3.0
167      2.0
168      NaN
169      1.0
170      3.0
171      1.0
172      1.0
173      4.0
174      2.0
175      3.0
176      4.0
177      2.0
178      1.0
179      3.0
180      3.0
181      3.0
182      2.0
183      1.0
184      3.0
185      2.0
186      3.0
187      2.0
188      2.0
189      2.0
190      1.0
191      1.0
192      1.0
193      2.0
194      2.0
195      2.0
196      1.0
197      1.0
198      1.0
199      3.0
200      1.0
201      1.0
202      3.0
203      3.0
204      1.0
205      3.0
206     14.0
207     21.0
208      1.0
209      1.0
210      2.0
211      3.0
212      1.0
213      1.0
214      1.0
215      2.0
216      0.0
217      NaN
218      3.0
219      3.0
220      3.0
221      1.0
222      2.0
223      3.0
224      3.0
225      2.0
226      1.0
227      3.0
228      2.0
229      3.0
230      1.0
231      1.0
232      1.0
233      3.0
234      3.0
235      NaN
236      3.0
237      1.0
238      3.0
239     12.0
240      1.0
241      2.0
242      2.0
243      2.0
244      1.0
245      3.0
246      NaN
247      3.0
248      1.0
249      3.0
250      2.0
251      3.0
252      2.0
253      0.0
254      1.0
255      1.0
256      1.0
257      0.0
258      3.0
259      1.0
262      2.0
263      2.0
264      1.0
265      1.0
266      1.0
267      2.0
268     27.0
269      4.0
270      3.0
271      3.0
272      2.0
274      1.0
275      1.0
276      1.0
279      1.0
280      3.0
281      3.0
282      4.0
283      4.0
285      4.0
286      1.0
287      3.0
288      2.0
289      3.0
297      4.0
298      2.0
299      1.0
300      2.0
301      1.0
302      2.0
303      2.0
304      4.0
305      1.0
306      1.0
307      2.0
308      3.0
309      1.0
310      2.0
311      3.0
312     13.0
313      1.0
314      1.0
315      1.0
316      1.0
317      3.0
322      2.0
323      4.0
327      NaN
328      3.0
329      3.0
330      3.0
331      6.0
332      2.0
333      4.0
334      1.0
335      3.0
336      1.0
337      1.0
338      1.0
339      1.0
340      2.0
341      1.0
342      3.0
343      1.0
344      3.0
345      1.0
346      4.0
347      3.0
348      1.0
349      3.0
350      NaN
351      2.0
352      2.0
353      3.0
354      1.0
356      2.0
357      2.0
358      1.0
359      1.0
360      1.0
361      1.0
362      1.0
363      3.0
364      3.0
365      1.0
366      3.0
367      4.0
368      4.0
369      2.0
370      NaN
371      1.0
372      1.0
373      3.0
374      2.0
375      4.0
376      2.0
377      2.0
378      1.0
379      1.0
380      1.0
381      3.0
382      3.0
383      1.0
385      4.0
386      1.0
387      4.0
388      2.0
389      2.0
390      3.0
391      6.0
392      2.0
393      2.0
394      3.0
395      2.0
396      3.0
397      3.0
398      4.0
399      1.0
400      1.0
401      1.0
402      3.0
403      2.0
404      2.0
405      1.0
406      1.0
407      1.0
408      1.0
409      1.0
410      2.0
411      1.0
412      1.0
413      3.0
414      2.0
415      2.0
416      1.0
417      3.0
418      3.0
419      2.0
420      3.0
421      1.0
422      1.0
423      1.0
424      2.0
425      3.0
426      2.0
427      4.0
428      3.0
429      3.0
430      1.0
431     10.0
432      4.0
433      4.0
434      1.0
435      2.0
436      3.0
437      2.0
438      1.0
439      2.0
440      1.0
441      2.0
442      5.0
443      1.0
444      4.0
445      3.0
446      2.0
448      1.0
449      1.0
450      3.0
451      3.0
452      2.0
453      1.0
454     20.0
455      3.0
456      3.0
457      4.0
458      3.0
459      3.0
460      3.0
461      2.0
462      2.0
463      1.0
464      2.0
465      3.0
466      3.0
467      2.0
468      2.0
469      4.0
470      2.0
471      3.0
472      3.0
473      1.0
474      4.0
475      1.0
476      1.0
477      2.0
478      3.0
479      1.0
480      1.0
481      1.0
482      1.0
483      1.0
484      2.0
485      1.0
486      3.0
487      1.0
488      3.0
489      3.0
490      1.0
491      1.0
492      2.0
493      4.0
494      1.0
495      1.0
496      1.0
497      4.0
498      2.0
499      3.0
500      4.0
501      2.0
502      2.0
503      1.0
504      2.0
505      1.0
506      1.0
507      3.0
508      4.0
509      3.0
510      4.0
511      1.0
512      4.0
513      NaN
514      2.0
515      2.0
516      0.0
517      2.0
518      3.0
519      2.0
520      3.0
521      3.0
523      3.0
524      3.0
525      1.0
526      1.0
527      3.0
528     14.0
529      1.0
530      3.0
531      3.0
532      3.0
533      4.0
534     14.0
535     12.0
536      1.0
537      4.0
538      3.0
539      4.0
540      1.0
541      2.0
542      3.0
543      1.0
544      1.0
545      2.0
546      4.0
547      NaN
549      2.0
550      3.0
551      2.0
552      3.0
553      2.0
554      1.0
555      1.0
556      1.0
557      1.0
558      3.0
559      1.0
560      1.0
561      3.0
562      1.0
563      2.0
564      1.0
565      2.0
566      3.0
567      3.0
568      3.0
569      3.0
570      1.0
571      1.0
572      2.0
573      1.0
574      3.0
575     11.0
576      0.0
577      3.0
578      4.0
579      3.0
580      3.0
581      3.0
582      4.0
583      1.0
584      4.0
585      3.0
586      1.0
587      1.0
588      5.0
589      4.0
590     11.0
591      1.0
592      2.0
593      1.0
594     41.0
595      1.0
596      1.0
597      3.0
598      1.0
599      3.0
600      4.0
601      1.0
602      5.0
603      2.0
604      2.0
605      3.0
606      3.0
607      2.0
608      2.0
609      4.0
610      3.0
611      5.0
612      3.0
613      1.0
614      1.0
615      3.0
616      2.0
617      3.0
618      1.0
619      NaN
620      3.0
622      1.0
623      2.0
624      3.0
625      4.0
626      4.0
627      4.0
628      2.0
629      2.0
630      3.0
631      1.0
632      2.0
633      2.0
634      2.0
635      2.0
636      1.0
637      3.0
638      4.0
639      2.0
640      1.0
641      2.0
642      1.0
643      1.0
644      3.0
645      4.0
646      3.0
647      4.0
648      4.0
649      3.0
650      3.0
651      3.0
652      3.0
653      3.0
654      3.0
655      1.0
656      3.0
657      3.0
658      2.0
659      3.0
660      3.0
661      4.0
662      NaN
663      3.0
664      2.0
665      2.0
666      4.0
667      1.0
668      3.0
669      4.0
670      2.0
671      3.0
672      3.0
673      3.0
674      2.0
675      3.0
676      2.0
677      2.0
678      4.0
679     10.0
680      3.0
681      4.0
682      2.0
683      4.0
684      2.0
685      3.0
686      3.0
687      3.0
688      2.0
689      1.0
690      4.0
691      2.0
692      4.0
693      2.0
694      3.0
695      4.0
696      2.0
697      2.0
698      2.0
699      3.0
700      4.0
701      5.0
702      4.0
703      4.0
704      3.0
705      3.0
706      3.0
707      4.0
708      2.0
709      2.0
710      2.0
711      4.0
712      4.0
713     51.0
714      3.0
715      3.0
716      2.0
717      3.0
718      2.0
719      2.0
720      2.0
721      3.0
722      1.0
723      3.0
724      2.0
725      2.0
726      4.0
727      3.0
728      4.0
729      3.0
730      2.0
731      4.0
732      2.0
733      3.0
734      1.0
735      2.0
736      1.0
737      3.0
738      3.0
739      4.0
740      3.0
741      3.0
742      2.0
743      3.0
744      2.0
745      4.0
746      2.0
747      2.0
748      3.0
749      4.0
750      2.0
751      2.0
752      4.0
753      3.0
754      2.0
755      3.0
756      2.0
757      2.0
758      4.0
759      2.0
760      3.0
761      3.0
762      2.0
763      2.0
764      2.0
765      2.0
766      3.0
767      4.0
768      2.0
769      2.0
770      2.0
771      4.0
772      3.0
773      3.0
774      2.0
775      2.0
776      NaN
777      3.0
778      2.0
779      3.0
780      2.0
781      2.0
782      2.0
783      3.0
784      3.0
785      NaN
786      4.0
787      4.0
788      3.0
789      3.0
790      4.0
791      3.0
792      3.0
793      2.0
794      4.0
795      3.0
796      3.0
797      4.0
798      4.0
799      3.0
800      4.0
801      4.0
802      3.0
803      4.0
804      1.0
805      3.0
806      2.0
807      4.0
808      NaN
809      2.0
810      2.0
811      2.0
812      4.0
813      3.0
814      4.0
815      NaN
816      3.0
817      4.0
818      NaN
819      2.0
820      2.0
821      2.0
822      3.0
823      2.0
824      4.0
825      3.0
826      4.0
827      4.0
828      3.0
829      3.0
830      3.0
831      3.0
832      2.0
833      2.0
834      2.0
835      2.0
836     16.0
837      4.0
838      2.0
839      3.0
840      1.0
841      2.0
842      2.0
843      3.0
844      3.0
845      3.0
846      1.0
848      1.0
849      1.0
850      2.0
851      3.0
852      3.0
853      4.0
854      3.0
855      2.0
856      4.0
857      2.0
858      3.0
859      2.0
860      2.0
861      4.0
862      4.0
863      2.0
864      3.0
865      2.0
866      4.0
867      4.0
868      4.0
869      4.0
870      2.0
871      2.0
872      2.0
873      2.0
874      3.0
875      2.0
876      3.0
877      2.0
878      2.0
879      3.0
880      3.0
881      4.0
882      4.0
883      2.0
884      3.0
885      2.0
886      3.0
887      4.0
888      3.0
889      3.0
890      1.0
891      2.0
892      3.0
893      3.0
894      2.0
895      3.0
896      2.0
897      3.0
898      4.0
899      2.0
900      3.0
901      4.0
902      3.0
903      3.0
904      3.0
905      4.0
906      3.0
907      2.0
908      2.0
909      2.0
910      3.0
911      3.0
912      3.0
913      1.0
914      3.0
915      2.0
916      4.0
917      4.0
918      3.0
919      3.0
920      2.0
921      4.0
922      3.0
923      2.0
924      2.0
925      3.0
926      2.0
927      2.0
928      2.0
929      2.0
930      2.0
931      2.0
932      3.0
933      6.0
934      1.0
935      2.0
936      2.0
937      4.0
938      3.0
939      3.0
940      2.0
941      2.0
942      4.0
943      3.0
944      2.0
945      2.0
946      2.0
947      2.0
948      2.0
949      3.0
950      4.0
951      4.0
952      3.0
953      3.0
954      3.0
955      2.0
956      NaN
957      4.0
958      3.0
959      2.0
960      2.0
961      2.0
962      2.0
963      2.0
964      2.0
965      2.0
966      2.0
967      2.0
968      3.0
969      NaN
970      3.0
971      2.0
972      1.0
973      3.0
974      2.0
975      3.0
976      1.0
977      2.0
978      2.0
979      2.0
980      2.0
981      3.0
982      2.0
983      3.0
984      3.0
985      2.0
986      3.0
987     33.0
988      3.0
989      2.0
990      3.0
991      3.0
992      2.0
993      3.0
994      2.0
995      2.0
996      2.0
997      2.0
998      2.0
999      1.0
1000     3.0
1001     3.0
1002     3.0
1003     4.0
1004     4.0
1005     0.0
1006     4.0
1007     4.0
1008     2.0
1009     2.0
1010     3.0
1011     3.0
1012     2.0
1013     4.0
1014     4.0
1015     3.0
1016     3.0
1017     3.0
1018     2.0
1019     4.0
1020     3.0
1021     4.0
1022     5.0
1023     3.0
1024     2.0
1025     3.0
1026     2.0
1027     3.0
1028     2.0
1029     3.0
1030     3.0
1031     3.0
1032     2.0
1033     3.0
1034     3.0
1035     3.0
1036     2.0
1037     2.0
1038     2.0
1039     2.0
1040     2.0
1041     2.0
1042     2.0
1043     2.0
Name: floorNum, dtype: float64

In [267]:
df['facing'].value_counts()

facing
East          181
North-East    159
North         113
West           75
North-West     44
South-East     40
South          36
South-West     25
Name: count, dtype: int64

In [268]:
df['facing'].isnull().sum()

np.int64(304)

In [269]:
df['facing'].fillna('NA', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_2784\3102712490.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('NA', inplace=True)

In [270]:
df.sample(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
929,4 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 1,6.0,9634.0,6228.0,Plot area 692(578.6 sq.m.),4,5,3,NA,"N/a, Sector 109 Gurgaon, Gurgaon, Haryana",2.0,North-East,5 to 10 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",Property description: On the lookout for a spa...,[],"['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment5 out of 5', 'Safety4.5 out of 5'..."
101,4 Bedroom House for sale in Sector 66 Gurgaon,house,emaar mgf marbella,8.8,41615.0,2115.0,Built Up area: 267 (223.25 sq.m.),4,4,3+,"Servant Room,Pooja Room,Store Room","Sector 66 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Hi, we have a residential independent house/ v...","['6 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment3 out of 5', 'Lifestyle4 out of 5..."

In [271]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977 entries, 0 to 1043
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    977 non-null    object
 1   property_type    977 non-null    object
 2   society          977 non-null    object
 3   price            958 non-null    float64
 4   price_per_sqft   958 non-null    float64
 5   area             958 non-null    float64
 6   areaWithType     977 non-null    object
 7   bedRoom          977 non-null    int64
 8   bathroom         977 non-null    int64
 9   balcony          977 non-null    object
 10  additionalRoom   977 non-null    object
 11  address          972 non-null    object
 12  floorNum         957 non-null    float64
 13  facing           977 non-null    object
 14  agePossession    977 non-null    object
 15  nearbyLocations  861 non-null    object
 16  description      977 non-null    object
 17  furnishDetails   740 non-null    object
 18  features         674 non-null    object
 19  rating           856 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 160.3+ KB

In [273]:
df.to_csv('cleaned_houses.csv', index=False)